- if number.has_been_factored?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Factors (factored in
          = number.factorization_duration
          secs)
    %tbody
    - number.factors.each_pair do |factor, exponent|
      %tr
        %td
          %a{href: "/numbers/#{factor}"}
            = factor.to_i.to_delimited
          %sup
            %a{href: "/numbers/#{exponent}"}
              = exponent
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Divisors
    %tbody
    - number.divisors.each do |divisor|
      %tr
        %td
          %a{href: "/numbers/#{divisor}"}
            = divisor.to_i.to_delimited